<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>IdCard Create</title>
    </head>
    <body>
        <h1 align="center">IdCard Create</h1>
        <form th:action="list" method="POST">
            <table align="center">
              <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td><input type="text" name="code"/></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <input type="radio" name="gender" value="male"/>Male
                        <input type="radio" name="gender" value="female"/>Female
                    </td>
                </tr>
                <tr>
                    <td>Folk:</td>
                    <td><input type="text" name="folk"/></td>
                </tr>
                <tr>
                    <td>Birthday:</td>
                    <td><input type="date" name="birthday"/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="address"/></td>
                </tr>
                <tr>
                    <td>Agency:</td>
                    <td><input type="text" name="agency"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>