<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title>idCard List</title>
</head>
    <body>
        <h1 align="center">IdCard List</h1>
        <table align="center" border="1">
            <tbody>
                <tr>
                    <td align="right"><h4><strong>Name:</strong></h4></td>
                    <td align="left" colspan="3"><h4 th:text="${idCard.name}"></h4></td>
                    <td rowspan="4" align="left"><h4><strong>Image:</strong></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Code:</strong></h4></td>
                    <td align="left" colspan="3"><h4 th:text="${idCard.code}"></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Gender:</strong></h4></td>
                    <td align="left"><h4 th:text="${idCard.gender}"></h4></td>
                    <td><h4><strong>Folk:</strong></h4></td>
                    <td align="left"><h4 th:text="${idCard.folk}"></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Birthday:</strong></h4></td>
                    <td align="left" colspan="3"><h4 th:text="${idCard.birthday}"></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Address:</strong></h4></td>
                    <td align="left" colspan="4"><h4 th:text="${idCard.address}"></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Agency:</strong></h4></td>
                    <td align="left" colspan="4"><h4 th:text="${idCard.agency}"></h4></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>