<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title>idCard List</title>
</head>
    <body>
        <h1 align="center">IdCard List</h1>
        <table align="center" border="1">
            <tbody>
                <tr>
                    <td align="right"><h4><strong>Name:</strong></h4></td>
                    <td align="left" colspan="3"><h4>ShiHang</h4></td>
                    <td rowspan="4" align="left"><h4><strong>Image:</strong></h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Code:</strong></h4></td>
                    <td align="left" colspan="3"><h4>140602199302159023</h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Gender:</strong></h4></td>
                    <td align="left"><h4>Female</h4></td>
                    <td><h4><strong>Folk:</strong></h4></td>
                    <td align="left"><h4>Han</h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Birthday:</strong></h4></td>
                    <td align="left" colspan="3"><h4>1993-02-15</h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Address:</strong></h4></td>
                    <td align="left" colspan="4"><h4>TaiYuan</h4></td>
                </tr>
                <tr>
                    <td align="right"><h4><strong>Agency:</strong></h4></td>
                    <td align="left" colspan="4"><h4>ShuoZhou</h4></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>